html {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  padding: 0 10vw;
}

body {
  max-width: 800px;
  margin: 6rem auto;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.bio > p {
  text-align: justify;
}

footer {
  font-size: 0.50rem;
}
